apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
      imagePullSecrets:
        - name: my-secret
      containers:
        - name: my-container
          image: 739097588595.dkr.ecr.us-west-2.amazonaws.com/ok:latest
          ports:
            - containerPort: 80
