apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      imagepullSecrets:
      - name: ecr-secret
      containers:
      - name: webapp
        image: 739097588595.dkr.ecr.us-west-2.amazonaws.com/ok:latest
        ports:
        - containerPort: 80
        
